<h1>书库配置</h1>

<table style="width:auto;">
	<tbody>
		<tr><td>Operate</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>Service</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>FeeCode</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>msg1</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>msg2</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>msg3</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>msg4</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>msg5</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>SPNumber</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>Content</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>Second</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>Dynamics</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
		<tr><td>Answers</td><td><input type="text" /></td><td><input type="button" value="Save" /></td></tr>
	</tbody>
</table>
