<%= render :partial => 'admin/shared/data_sub_menu' %>

<h1>Add Company</h1>

<%= form_for(:company,  :url => collection_url, :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/new_resource_links' %>
<% end %>
