<div id="dialog" title="导入数据">
	<p>
		<span class="ui-icon ui-icon-circle-check" style="float:left;margin:0 7px 50px 0;"></span>
		请把excel表格数据拷贝粘贴到下面文本框中。
	</p>
    <p>
      产品：
      <input type="text" id="import_brand" />
    </p>
	<p>
      <textarea id="import_text" cols="80" rows="12" ></textarea>
      <input type="button" onclick="import_data();" value="导入数据" />
    </p>
</div>